---
---

$black:#272727;
$blue: #009FCF;
$green: #00B689;
$grey: #E4E3E3;
$red: #FF5845;
$purple: #51297F;


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	margin:0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-weight: 400;
	@media screen and (max-width: 670px) {
        font-size: 14px;
     }
}

a, a:hover, a:visited, a:focus{
	font-size:1.09999em;
	color:inherit;
}

@import "nav";
@import "header";

header, .work-section, .services-section, .contact-section, .portfolio-section{
	padding:5.333em 20%;

	@media screen and (max-width: 670px) {
        padding:5.333em 5%;
     }
}

@import "work";

.section-title{
	font-size: 3.222em;
	font-weight: 300;
}

.section-subtitle{
    font-weight:bold;
	font-size: 1em;
	color:inherit;

    span{
        font-weight: 300;
    }

}

@import "services";

@import "contact";
@import "portfolio";

@import "footer";