.DS_Store

# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/

### Jekyll ###

_site

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules/
jspm_packages/

