.contact-section{
    background-color: $purple;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 7%, 50% 0, 0 7%);
clip-path: polygon(0 100%, 100% 100%, 100% 7%, 50% 0, 0 7%);

}

.contact-list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: $grey;
    a{
        outline: none;
        text-decoration: none;
        transition: all .2s ease-out;
        background: linear-gradient($red, $red);
        background-size: 100% .2em;
        background-repeat: no-repeat;
        background-position: left 0 bottom 0;
    }
}