header{
	display: flex;
	justify-content:center;
	flex-wrap: nowrap;
    flex-direction: column;
	padding:1.333em 20%;
}

.header-title, .header-intro{
	font-weight: 700;
	font-size:3.11em;
	text-align:left;
	margin: 0;
	color:$black;
}

.intro-accent{
	color:lighten( $blue, 10% );
}

.mexico-accent{
	color:lighten( $red, 10% );
}