.work-section{
	color:lighten($purple, 80%);
	border-bottom:2.222em solid $purple;
	background-color: $black;
	-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 6%, 0 0);
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 6%, 0 0);

	a{
		outline: none;
        text-decoration: none;
        transition: all .2s ease-out;
        background: linear-gradient($purple, $purple);
        background-size: 100% .2em;
        background-repeat: no-repeat;
        background-position: left 0 bottom 0;
	}

}

