.work-section{
	color:$grey;
	border-bottom:2.222em solid $purple;
	background-color: $black;
	-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 6%, 0 0);
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 6%, 0 0);
}

